<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademTracker"
        tools:targetApi="31">
        <activity
            android:name=".UsuarioBasico.MostrarPagosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.academtracker.UsuarioBasico.MateriasAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.MateriasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.ExcelActivity"
            android:exported="false" />
        <activity
            android:name=".NFCAlumno2Activity"
            android:exported="false" />
        <activity
            android:name=".NFCAlumno1Activity"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.RegistropagosActivity"
            android:exported="false" />
        <activity
            android:name=".LectorNFCActivity"
            android:exported="true"
            android:label="Lector NFC">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Configuración del filtro de tecnologías NFC -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity> <!-- Se setea automaticamente la horientacion en vertical -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".UsuarioAvanzado.SecretariasListacalifActivity"
            android:exported="false" />
        <activity
            android:name=".Secretaria_pagos_man"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.PerfilSecretariasActivity"
            android:exported="false" />
        <activity
            android:name=".ProfesorCalificaciones_man"
            android:exported="false" />
        <activity
            android:name=".Secretarias_materias_man"
            android:exported="false" />
        <activity
            android:name=".SecretariaActualizaAlumnos_man"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.ModifcarSecretariasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.ActualizarSecretariasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.AgregarSecretariasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioAvanzado.SecretariasActivity"
            android:exported="false" />
        <activity
            android:name=".EditarAlumno_Secretaria"
            android:exported="false" />
        <activity
            android:name=".EditarAlumno_Director"
            android:exported="false" />
        <activity
            android:name=".DirectorActualizaAlumnos_man"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.ListaAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.ListaDirectorAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.ListaPersonalActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.ImagenDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.Director_ActualizarProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.Director_ActualizarAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.AgregarDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.ActualizarDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.EliminarDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.ModificarDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.PerfilDirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioMedio.DirectorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.EditarActivity"
            android:exported="false"
            android:label="@string/title_activity_editar"
            android:theme="@style/Theme.AcademTracker" />
        <activity
            android:name=".UsuarioBasico.AsistenciasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.CalificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.ListaMateriasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.PerfilProfesorActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".UsuarioBasico.ProfesorActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.EstadisticasActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.ListaprofesoresActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.PerfilAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioBasico.AlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".AdministracionActivity"
            android:exported="false" />
        <activity
            android:name=".AndministracionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>